{% set last_article = articles.current %}
{% set articles_count = subpage.children.routable.visible.count %}

{% import 'macros/tags.html.twig' as tags %}

<section>
    <div class="columns is-desktop is-multiline articles-display">
        <div class="column is-half">
            <article class="presentation">
                <div class="content">
                    <div>{{ introduction }}</div>
                </div>
                <footer>
                    <ul>
                        {% for photo in introduction_images %}
                            <li>
                                <a href="#"{% if photo.hover %} class="tooltip" data-tooltip="{{ photo.hover }}"{% endif %}>
                                    <h3 class="sr-only">{{ photo.hover }}</h3>
                                    <img src="{{ superpage.media.images[photo.media].cropResize(176, 176).url }}" alt="{{ photo.hover }}" />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </footer>
            </article>
        </div>
        <div class="column is-half">
            <article class="latest-article" itemid="{{ last_article.url }}" itemscope itemtype="http://schema.org/BlogPosting">
                <meta itemprop="author" content="{{ last_article.header.taxonomy.author|join(', ') ?: 'Unknown' }}" />
                <meta itemprop="image" content="{{ last_article.header.header_image.image ? base_url_abs|replace({'"': '\\"'}) ~ last_article.media.images[last_article.header.header_image.image].url : url('theme://images/logo.jpg', true)|e('html_attr') }}" />
                <span itemprop="publisher" itemtype="https://schema.org/Organization" itemscope>
                    <meta itemprop="name" content="{{ config.site.title|e('html_attr') }}" />
                    <meta itemprop="url" content="{{ base_url_abs|replace({'"': '\\"'}) }}" />
                    <meta itemprop="logo" content="{{ url('theme://images/logo.jpg', true)|e('html_attr') }}">
                </span>
                <meta itemprop="dateModified" content="{{ last_article.modified|date('c') }}" />
                <h2>Dernier article</h2>
                <h3>
                    <a href="{{ last_article.url(true) }}" itemprop="mainEntityOfPage"><span itemprop="headline">{{ last_article.header.title }}</span></a>
                </h3>
                <div class="content" itemprop="description">
                    {% if last_article.header.abstract %}
                        {{ last_article.header.abstract|markdown }}
                    {% elseif last_article.summary %}
                        {{ last_article.summary(250) }}
                    {% else %}
                        {{ last_article.content|striptags|safe_truncate(300, true) }}
                    {% endif %}
                </div>
                <footer>
                    {{ tags.time(last_article.date, false, true, false, null, 'datePublished') }} &middot; <a href="{{ last_article.url }}">Lire l'article</a>
                </footer>
            </article>
        </div>
    </div>
    <aside class="columns is-desktop articles-list">
        {% for article in articles.slice(0, 4) if article != last_article %}
            <div class="column tooltip" data-tooltip="{{ article.header.title }}" itemid="{{ article.url }}" itemscope itemtype="http://schema.org/BlogPosting">
                <meta itemprop="author" content="{{ article.header.taxonomy.author|join(', ') ?: 'Unknown' }}" />
                <meta itemprop="image" content="{{ article.header.header_image.image ? base_url_abs|replace({'"': '\\"'}) ~ article.media.images[article.header.header_image.image].url : url('theme://images/logo.jpg', true)|e('html_attr') }}" />
                <span itemprop="publisher" itemtype="https://schema.org/Organization" itemscope>
                    <meta itemprop="name" content="{{ config.site.title|e('html_attr') }}" />
                    <meta itemprop="url" content="{{ base_url_abs|replace({'"': '\\"'}) }}" />
                    <meta itemprop="logo" content="{{ url('theme://images/logo.jpg', true)|e('html_attr') }}">
                </span>
                <meta itemprop="dateModified" content="{{ article.modified|date('c') }}" />
                <a href="{{ article.url }}" itemprop="mainEntityOfPage">
                    <h3 itemprop="headline">{{ article.header.title }}</h3>
                    <footer>
                        {{ tags.time(article.date, false, true, false, null, 'datePublished') }}
                    </footer>
                </a>
            </div>
        {% endfor %}
        <div class="column">
            <a href="{{ page.url }}">
                <h3>Tous les articles</h3>
                <footer>
                    {{ articles_count }} {{ 'article'|pluralize(articles_count) }}
                </footer>
            </a>
        </div>
    </aside>
</section>
