{% for subpage in page.children.nonRoutable.nonVisible %}
    {% if subpage.header.title == '_homepage' %}
        <article>
            <header>
                {% if subpage.header.metadata.invite %}<p>{{ subpage.header.metadata.invite }}</p>{% endif %}
                <h2>{{ page.header.title }}</h2>
            </header>
            
            <div class="content">
                {{ subpage.content }}
            </div>

            <aside>
                <a class="button is-white is-medium" href="{{ page.url }}">
                    <span class="{{ subpage.header.metadata.home_icon_type|default('fas') }} fa-{{ subpage.header.metadata.home_icon|default('fighter-jet') }}"></span>
                    {% if subpage.header.metadata.home_button %}
                        {{ subpage.header.metadata.home_button }}
                    {% else %}
                        En voir plus sur {{ page.header.title }}
                    {% endif %}
                </a>
            </aside>
        </article>

    {% endif %}
{% endfor %}
