<article>
    <header>
        {% if page.header.homepage.invite %}<p>{{ page.header.homepage.invite }}</p>{% endif %}
        <h2>{{ page.header.title }}</h2>
    </header>

    <div class="content">{{ page.header.homepage.text|markdown }}</div>

    <aside>
        <a class="button is-white is-medium" href="{{ page.url }}">
            <span class="{{ page.header.homepage.button.icon_type|default('fas') }} {{ page.header.homepage.button.icon|default('fa-fighter-jet') }}"></span>
            {% if page.header.homepage.button.text %}
                {{ page.header.homepage.button.text }}
            {% else %}
                En voir plus sur {{ page.header.title }}
            {% endif %}
        </a>
    </aside>
</article>
