<section class="homepage-section" id="{{ header.metadata.anchor }}">
    <header>
        <p class="surtitle">{{ header.surtitle }}</p>
        <h2>{{ header.title }}</h2>
        <article>
            {{ page.content|raw }}
        </article>
    </header>

    <div class="section-content">
        <section class="main-items">
            {% for main in header.main %}
                <article>
                    <article>
                        <h3>
                            <a href="{{ main|link_or_page }}" class="pointy-link">
                                {{ main.title }}
                            </a>
                        </h3>
                        {{ main.content|markdown }}
                    </article>
                    {# <a href="{{ main|link_or_page }}">
                        <figure style="background-image: url('{{ page.media[main.image].url }}')"></figure>
                    </a> #}
                </article>
            {% endfor %}
        </section>

        <aside class="see-also-items">
            <h3>Et aussi</h3>
            <ul>
                {% for also in header.see_also %}
                    <li><a href="{{ also|link_or_page }}">{{ also.title }}</a></li>
                {% endfor %}
            </ul>
        </aside>
    </div>
</section>
