{% if config.plugins.taxonomylist.enabled and header.categories.enabled|default(true) %}
    {% set taxlist = taxonomylist.getChildPagesTags() %}

    {% if taxlist %}
        <aside class="categories">
            <div class="tags is-centered">
                {% for category, value in taxlist['category']|ksort %}
                    <span class="tag is-primary" title="{{ value }} {{ 'billet'|pluralize(value) }}">
                        <a href="{{ base_url }}{{ config.plugins.taxonomylist.route }}/category{{ config.system.param_sep }}{{ category|e('url') }}">
                            <span class="icon"><i class="fas fa-book"></i></span>
                            <span>{{ category }}</span>
                        </a>
                    </span>
                {% endfor %}
            </div>
        </aside>
    {% endif %}
{% endif %}
