<footer class="hero-foot page-footer">
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            {% for links_group in theme_config.bottom_links %}
                {% if links_group.sub_links %}
                    <div class="navbar-item has-dropdown has-dropdown-up is-hoverable">
                        <a class="navbar-link" href="{{ links_group.link }}" aria-label="{{ links_group.title }}">
                            <span class="icon">
                                <span class="{{ links_group.icon_type }} {{ links_group.icon }}"></span>
                            </span>
                        </a>

                        <div class="navbar-dropdown">
                            {% for sub_link_title, sub_link in links_group.sub_links %}
                                <a class="navbar-item" href="{{ sub_link }}">
                                    <span class="icon">
                                        <span class="{{ links_group.icon_type }} {{ links_group.icon }}"></span>
                                    </span>
                                    {{ sub_link_title }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <a class="navbar-item" href="{{ links_group.link }}" aria-label="{{ links_group.title }}">
                        <span class="icon">
                            <span class="{{ links_group.icon_type }} {{ links_group.icon }}"></span>
                        </span>
                    </a>
                {% endif %}
            {% endfor %}

            {% if config.plugins.feed.enabled %}
                {% for page in grav.pages.find('/').parent.children.visible.published.routable if page.template == 'blog' %}
                    <a class="navbar-item" href="{{ page.url(true) }}.atom" aria-label="Flux Atom de la section {{ page.header.title }}">
                        <span class="icon">
                            <span class="fas fa-rss"></span>
                        </span>
                    </a>
                {% endfor %}
            {% endif %}
        </div>

        <div class="navbar-end">
            {% set this_page = page %}
            {% for page in pages.children.visible %}
                {% set current_page = (page.active or page.activeChild) ? 'is-active' : '' %}
                <a class="navbar-item {{ current_page }}" href="{{ page.url }}"{% if this_page.template == 'homepage' %} data-target="#{{ page.url|trim('/') }}"{% endif %}>
                        {% if page.header.icon %}<i class="fas fa-{{ page.header.icon }}"></i>{% endif %}
                        {{ page.menu }}
                </a>
            {% endfor %}
            {% for mitem in site.menu %}
                <a class="navbar-item" href="{{ mitem.url }}">
                    {% if mitem.icon %}<i class="fas fa-{{ mitem.icon }}"></i>{% endif %}
                    {{ mitem.text }}
                </a>
            {% endfor %}
        </div>
    </nav>
</footer>
