{% extends 'partials/base/base.html.twig' %}

{# We want to display the page section even for top pages, like /notes if there is a “notes” section. #}
{% set top_section_page = page.topParent.parent != null ? page.topParent : page %}

{% block body %}
    {% do assets.addJs('theme://js/navbar-burgers.js', 64, true, null, 'last') %}

    <nav class="navbar top-navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="container is-fluid">
            <div class="navbar-brand">
                <div class="navbar-item site-name {% block navbar_item_site_name_classes %}{% endblock %}">
                    <figure>
                        <a href="/">
                            <img src="/{{ (theme_config.header.image|first).path }}" alt="{{ config.site.title }}" aria-hidden="true" />
                        </a>
                    </figure>
                    <header>
                        <a href="/">{{ theme_config.header.title|raw ?: config.site.title|raw }}</a>
                        {% block section_title_outside_aside %}<aside>{% block section_title %}<a href="{{ top_section_page.url }}">{{ top_section_page.header.menu ?: top_section_page.header.title }}</a>{% endblock %}</aside>{% endblock %}
                    </header>
                </div>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="top-navbar-menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="top-navbar-menu">
                <div class="navbar-start"></div>

                <div class="navbar-end">
                    {% if theme_config.social %}
                        <div class="navbar-item social-links">
                            <ul>
                                {% for social in theme_config.social %}
                                    <li>
                                        <a href="{{ social.link }}" rel="me" title="{{ social.title }}" aria-label="{{ social.title }}">
                                            <span class="icon">
                                                <span class="{{ social.icon_type }} {{ social.icon }}"></span>
                                            </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if theme_config.email %}
                        <a href="mailto:{{ theme_config.email|safe_email }}" class="navbar-item email">{{ theme_config.email|safe_email }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    {% include 'partials/footer.html.twig' %}
{% endblock %}
