{% extends 'partials/base/base.html.twig' %}

{# We want to display the page section even for top pages, like /notes if there is a “notes” section. #}
{% set top_section_page = page.topParent.parent != null ? page.topParent : page %}

{% block body %}
    {% do assets.addJs('theme://js/navbar-burgers.js', 64, true, null, 'last') %}

    {# Cannot be in the pipeline, else it breaks MathJax's external plugin references. #}
    {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML', 200, false, 'async', 'last') %}

    <nav class="navbar top-navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <div class="navbar-item site-name" href="/">
                    <a href="/">{{ theme_config.header.title ?: config.site.title }}</a>
                    <aside>{% block section_title %}<a href="{{ top_section_page.url }}">{{ top_section_page.header.title }}</a>{% endblock %}</aside>
                </div>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="top-navbar-menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="top-navbar-menu">
                <div class="navbar-start"></div>

                <div class="navbar-end">
                    {% for menu_item in pages.children.visible.routable.published %}
                        <a href="{{ menu_item.url }}" class="navbar-item{% if page.url|starts_with(menu_item.route) %} is-active{% endif %}">
                            {{ menu_item.title }}
                        </a>
                    {% endfor %}

                    {% if config.plugins.tntsearch.enabled %}
                        <a class="navbar-item search-nav" href="{{ config.plugins.tntsearch.search_route }}" title="Rechercher sur le site…">
                            <span class="fas fa-search"></span>
                            <span class="sr-only">Rechercher</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    {% include 'partials/menu-footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ super() }}

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$', '$']],
                displayMath: [['$$','$$']],
                processEscapes: true,
                processClass: "content",
                ignoreClass: "page-container"
            },
            TeX: { extensions: ["color.js", "cancel.js", "enclose.js", "bbox.js", "mathchoice.js", "newcommand.js", "verb.js", "unicode.js", "autobold.js", "mhchem.js"] },
            messageStyle: "none",
        });
    </script>

    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
        integrity="sha384-Ra6zh6uYMmH5ydwCqqMoykyf1T/+ZcnOQfFPhDrp2kI4OIxadnhsvvA2vv9A7xYv"
        crossorigin="anonymous">
    </script>-->
{% endblock %}
