{% extends 'partials/base/base-page.html.twig' %}

{% set page_header_height = 380 * 2 %} {# Real height is 380px; doubled for high-pixel-density screens. #}
{% set page_header_image = header.header_image.image ? page.media.images[header.header_image.image] : null %}
{% set page_header_image_ref = page %}

{# We're trying to inherit the banner from the parent page if this is an advanced one #}
{% if not page_header_image and page.template == 'item-advanced' and page.parent.template == 'item' %}
    {% set page_header_image_ref = page.parent %}
    {% set page_header_image = page_header_image_ref.header.header_image.image ? page_header_image_ref.media.images[page_header_image_ref.header.header_image.image] : null %}
{% endif %}

{% set page_header_image_color = page_header_image_ref.header.header_image.color %}
{% set center_percentage = page_header_image_ref.header.header_image.vertical_centering|default(50) %}

{% set has_comments = config.plugins.comments.enabled and grav.twig.enable_comments_plugin and header.comments.show|default(true) %}
{% set comments_count = grav.twig.comments|default([])|length %}
{% set comments_count_text = comments_count == 0 ? 'Aucun commentaire' : (comments_count == 1 ? 'Un commentaire' : comments_count ~ ' commentaires') %}

{% block metadata %}
    {{ parent() }}

    <script type="application/ld+json">
        {% include 'partials/json-ld/blog-posting.json.twig' %}
    </script>
{% endblock %}

{% block content %}
    {% do assets.addJs('theme://js/spoilers.js', 64, true, null, 'bottom') %}
    {% do assets.addJs('theme://js/tocs-toggler.js', 64, true, null, 'bottom') %}

    <main class="page-main-article {% block content_main_classes %}{% endblock %}">
        {% block content_header %}
            <div class="header-size-constrainer{% if not page_header_image %} imageless-header{% endif %}">
                {% if page_header_image %}
                    {# We crop images so they are smaller to download (especially true for heavy full-HD images…), so we don't have to bother with optimization manually. #}
                    {# Also, allows to center the image wherever the user want #}
                    {% set image_height = page_header_image.height %}
                    {% set page_header_image_top = min(max(image_height / 2  + ((center_percentage - 50) / 50) * (image_height / 2) - page_header_height / 2, 0), image_height - page_header_height) %}
                    {% set page_header_image = page_header_image.crop(0, page_header_image_top, page_header_image.width, page_header_height) %}
                {% endif %}
                <header{% if page_header_image %} style="background-image: linear-gradient(0deg, {{ page_header_image_color|default('#7a49b7') }}, {{ page_header_image_color|default('#7a49b7')|toRGBA(0.9) }} 30%, transparent 85%, transparent), url('{{ page_header_image.url|e('css') }}');"{% endif %}>
                    <div class="container">
                        <aside class="header-image-source">
                            {% if page_header_image %}
                                {% if page_header_image_ref.header.header_image.link %}
                                <a href="{{ page_header_image_ref.header.header_image.link }}">
                                    {% endif %}
                                    {{ page_header_image_ref.header.header_image.title }}
                                    {% if page_header_image_ref.header.header_image.author %}
                                        <cite>{{ page_header_image_ref.header.header_image.author }}</cite>
                                    {% endif %}
                                    {% if page_header_image_ref.header.header_image.link %}
                                </a>
                                {% endif %}
                            {% endif %}
                        </aside>
                        <h1>{{ header.title }}</h1>
                        {% block under_title %}{% endblock %}
                    </div>
                </header>
            </div>
        {% endblock %}

        {% block content_content %}
            <div class="container">
                {% block content_article %}
                    {% block above_block_content %}{% endblock %}
                    <article class="main-article">
                        {% block above_content %}{% endblock %}
                        {% block table_of_content %}
                            {% if config.get('plugins.page-toc.enabled') and (config.get('plugins.page-toc.active') or attribute(page.header, 'page-toc').active) %}
                                <aside class="table-of-contents">
                                    {% set table_of_contents = toc(page.content, 2, 3) %}
                                    {% if table_of_contents is not empty %}
                                        <h4 aria-haspopup="listbox" aria-expanded="false">
                                            Sommaire
                                            <span class="table-of-content-toggle-indicator" aria-hidden="true">»</span>
                                        </h4>
                                        {{ table_of_contents|raw }}
                                    {% endif %}
                                </aside>
                            {% endif %}
                        {% endblock %}
                        <div class="content">
                            {{ page.content|raw }}
                        </div>
                        {% block below_content %}{% endblock %}
                    </article>

                    {% block below_block_content %}{% endblock %}

                    {% if has_comments %}
                        <footer class="comments-section" id="comments">
                            <h2>{{ comments_count_text }}</h2>
                            <div class="comments-section-content">
                                {% include 'partials/comments.html.twig' with {'page': page} %}
                            </div>
                        </footer>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
    </main>
{% endblock %}
