{% extends 'partials/base/base-page.html.twig' %}

{% import 'macros/tags.html.twig' as tags %}

{% set collection = page.collection() %}

{% set page_header_height = 380 %}
{% set page_header_width = 800 %}

{% block content %}
    <main class="page-main-list">
        {% block content_header %}
            <header class="hero is-medium">
                <div class="hero-body">
                    <div class="container">
                        <p>{{ header.homepage.invite }}</p>
                        <h1>{{ header.title }}</h1>

                        {% if uri.param('tag') %}
                            <h2>
                                Billets étiquetés
                                <span class="tag is-primary is-large">
                                    <span class="icon"><i class="fas fa-tag"></i></span>
                                    <span>{{ uri.param('tag') }}</span>
                                </span>
                            </h2>
                        {% elseif uri.param('category') %}
                            <h2>
                                Billets catégorisés
                                <span class="tag is-primary is-large">
                                    <span class="icon"><i class="fas fa-book"></i></span>
                                    <span>{{ uri.param('category') }}</span>
                                </span>
                            </h2>
                        {% elseif uri.param('author') %}
                            <h2>
                                Billets écrits par
                                <span class="tag is-primary is-large">
                                    <span class="icon"><i class="fas fa-user"></i></span>
                                    <span>{{ uri.param('author') }}</span>
                                </span>
                            </h2>
                        {% endif %}
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block content_content %}
            <div class="container">
                <div class="columns">
                    <div class="column is-10 is-offset-1">
                        {%- block content_intro -%}
                            {%- if page.content -%}
                                <article class="main-article">
                                    <div class="content">
                                        {{- page.content -}}
                                    </div>
                                </article>
                            {%- endif -%}
                        {%- endblock -%}
                    </div>
                </div>

                {% block content_list %}
                    <section class="main-list">
                        <div class="columns is-multiline">
                            {% for subpage in collection %}
                                {% set page_advanced = null %}
                                {% if subpage.template == 'item' %}
                                    {% for child in subpage.children.published.routable %}
                                        {% if child.template == 'item-advanced' %}
                                            {% set page_advanced = child %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                <div class="column is-half">
                                    {% block content_list_item %}
                                        <article class="card list-item">
                                            <a href="{{ subpage.url }}">
                                                {% block content_list_item_header %}
                                                    {% set page_header_image = subpage.header.header_image.image ? subpage.media.images[subpage.header.header_image.image] : null %}
                                                    {% if page_header_image %}
                                                        {#
                                                            We user here cropZoom to resize the image as it is displayed on a very small area.
                                                            As the resulting image is small, we shift the image according to the user's will using
                                                            CSS directly.
                                                            The CSS shift is increased as the containing block is way smaller.
                                                         #}
                                                        {% set center_percentage = subpage.header.header_image.vertical_centering|default(50) %}
                                                        {% set page_header_image = page_header_image.cropZoom(page_header_width, page_header_height) %}
                                                    {% endif %}
                                                    <header class="card-image{% if not page_header_image %} imageless-header{% endif %}"{% if page_header_image %} style="background: linear-gradient(0deg, {{ subpage.header.header_image.color|default('#7a49b7')|toRGBA(0.6) }}, transparent 50%, transparent) center center, url('{{ page_header_image.url|e('css') }}') center {{ center_percentage + 10 * (center_percentage >= 50 ? 1 : -1) }}%;"{% endif %}>
                                                        {% block content_list_item_header_aside %}
                                                            <aside>
                                                                <span>
                                                                    {% if page_advanced %}
                                                                        <span class="icon tooltip is-tooltip-left" data-tooltip="Une version avancée de cet article est également disponible">
                                                                            <span class="fas fa-fire"></span>
                                                                        </span>
                                                                    {% endif %}
                                                                    {{ tags.time(subpage.date, true, true, false, null, 'datePublished') }}
                                                                </span>
                                                            </aside>
                                                        {% endblock %}
                                                        <h2>{{ subpage.header.title }}</h2>
                                                    </header>
                                                {% endblock %}
                                                {% block content_list_item_content %}
                                                    <div class="card-content">
                                                        {% block content_list_item_content_reading_time %}
                                                            {% if config.plugins.readingtime.enabled %}
                                                                <ul class="reading-time" title="Temps de lecture estimé, considérant un rythme de {{ config.plugins.readingtime.words_per_minute }} mots par minute.">
                                                                    <li>{{- subpage.content|readingtime }} de lecture</li>
                                                                    {%- if page_advanced %}
                                                                        <li>{{ page_advanced.content|readingtime }} en version complète</li>
                                                                    {%- endif -%}
                                                                </ul>
                                                            {% endif %}
                                                        {% endblock %}
                                                        {% block content_list_item_content_body %}
                                                            <div class="content">
                                                                {% if subpage.header.abstract %}
                                                                    {{ subpage.header.abstract|markdown }}
                                                                {% elseif subpage.summary %}
                                                                    {{ subpage.summary(250) }}
                                                                {% else %}
                                                                    {{ subpage.content|striptags|safe_truncate(300, true) }}
                                                                {% endif %}
                                                            </div>
                                                        {% endblock %}
                                                    </div>
                                                {% endblock %}
                                            </a>
                                        </article>
                                    {% endblock %}
                                </div>
                            {% endfor %}
                        </div>
                        {% block content_list_pagination %}
                            {% if config.plugins.pagination.enabled and collection.params.pagination %}
                                {% include 'partials/pagination.html.twig' with {'base_url': page.url, 'pagination': collection.params.pagination} %}
                            {% endif %}
                        {% endblock %}
                    </section>
                {% endblock %}

                {% block content_aside %}{% endblock %}
            </div>
        {% endblock %}
    </main>
{% endblock %}
