{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

{% set form_field_wrapper_classes = 'control' %}
{% set form_field_input_classes = 'input' %}
{% set form_field_outer_label_classes = 'label' %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} ⋅ {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ header.canonical ? header.canonical : page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://use.fontawesome.com/releases/v5.1.0/css/all.css', 97) %}
        {% do assets.addCss('theme://css-compiled/nebulius.min.css', 98) %}
    {% endblock %}

    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}

    {{ assets.js('top') }}

{% endblock head %}
</head>

<body id="top" class="static-shooting-star {{ page.header.body_classes }} {% block body_classes %}{% endblock %}">
    <div class="body-background-container">
        {% block body %}{% endblock %}
    </div>

    {% block bottom %}
        {{ assets.js() }}

        {{ super() }}

        <script type="text/javascript">
            'use strict';

            document.body.classList.remove('static-shooting-star');

            window.addEventListener('load', function()
            {
                document.body.classList.remove('static-shooting-star');

                function animate_shooting_star()
                {
                    document.body.classList.add('animated-shooting-star');

                    setTimeout(function()
                    {
                        document.body.classList.remove('animated-shooting-star');
                    }, 1500);

                    setTimeout(animate_shooting_star, (Math.floor(Math.random() * (60 - 20)) + 20) * 1000);
                }

                setTimeout(animate_shooting_star, (Math.floor(Math.random() * (10 - 2)) + 2) * 1000);
            });
        </script>

        {{ assets.js('last') }}
    {% endblock %}
</body>
</html>
