{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

{% set form_field_wrapper_classes = 'control' %}
{% set form_field_input_classes = 'input' %}
{% set form_field_outer_label_classes = 'label' %}

{% set base_url_abs = grav.uri.rootUrl(true) %}

<!DOCTYPE html>
<html lang="{{ html_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% block main_title %}{% if header.title %}{{ header.title|e('html') }} ⋅ {% endif %}{% endblock %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.canonical }}" />

    <meta name="theme-color" content="#1b1424" />
    <meta name="msapplication-navbutton-color" content="#1b1424" />

    {% if config.plugins.feed.enabled %}
        {% for page in grav.pages.find('/').parent.children.visible.published.routable if page.template == 'blog' %}
            <link rel="alternate" type="application/atom+xml" title="{{ page.header.title }} – Flux Atom" href="{{ page.url(true) }}.atom" />
            <link rel="alternate" type="application/rss+xml" title="{{ page.header.title }} – Flux RSS" href="{{ page.url(true) }}.rss" />
            <link rel="alternate" type="application/json" title="{{ page.header.title }} – Flux JSON" href="{{ page.url(true) }}.json" />
        {% endfor %}
    {% endif %}

    {% block metadata %}
        <script type="application/ld+json">
            {% include 'partials/json-ld/organization.json.twig' %}
        </script>
        <script type="application/ld+json">
            {% include 'partials/json-ld/breadcrumbs.json.twig' %}
        </script>
    {% endblock %}

    {% block stylesheets %}
        {% do assets.addCss('theme://css-compiled/nebulius.min.css', 98) %}
    {% endblock %}

    {{ assets.css() }}

    {% do assets.addJs('jquery', 100, true, null, 'head') %}
    {% do assets.addJs('theme://js/shooting-star.js', 64, true, null, 'last') %}

    {% block javascripts %}{% endblock %}

    {# The default JS assets are at the top because some extensions require their JS to be at the top #}
    {# even if it is recommanded to have the JS at the bottom of the page because they load synchronously. #}
    {# Our JS assets are loaded at the bottom explicitely. #}
    {{ assets.js() }}

{% endblock head %}
</head>

<body id="top" class="static-shooting-star {{ page.header.body_classes }} {% block body_classes %}{% endblock %}">
    <div class="body-background-container">
        {% block body %}{% endblock %}
    </div>

    {% block bottom %}
        {{ assets.js('bottom') }}

        {{ super() }}

        {{ assets.js('last') }}
    {% endblock %}
</body>
</html>
