{% extends 'partials/base.html.twig' %}

{% block body_classes %}homepage{% endblock %}

{% block content %}
    {% for page in pages.children.visible %}
        <section id="{{ page.url|trim('/') }}">
            <h2>{{ page.header.title }}</h2>
            {% if page.template == 'blog' %}
                {% set articles = page.children.routable.visible.order('date', 'desc') %}
                {% set last_article = articles.current %}
                <div class="columns is-clearfix">
                    <div class="column">
                        <h3>
                            <a href="{{ last_article.url }}">Dernier article</a>
                        </h3>
                        <article>
                            <h4>
                                <a href="{{ last_article.url }}">{{ last_article.header.title }}</a>
                            </h4>
                            <p>
                                {% if last_article.header.abstract %}
                                    {{ last_article.header.abstract }}
                                {% else %}
                                    {{ last_article.content|striptags|safe_truncate(300, true) }}
                                {% endif %}
                            </p>
                            <aside>
                                <a href="{{ last_article.url }}" class="button is-white"><span class="fas fa-moon"></span>Lire la suite…</a>
                            </aside>
                        </article>
                    </div>
                    <div class="column">
                        <h3>
                            <a href="{{ page.url }}">
                                Tous les articles
                                <span class="fas fa-angle-double-right fa-xs"></span>
                            </a>
                        </h3>
                        <article>
                            <ul>
                                {% for article in articles.batch(4)[0] if not article.isFirst %}
                                    <li>
                                        <a href="{{ article.url }}" title="{{ article.header.title }}">
                                            {{ article.header.title }}

                                            {# TODO what about an icon relative to the content type? article, video… #}
                                            <div class="button is-white">
                                                <span class="fas fa-moon"></span>
                                            </div>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <p>Il n'y a aucun autre article à lire pour le moment.</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </article>
                    </div>
                </div>
            {% else %}
                {% for subpage in page.children.nonRoutable.nonVisible %}
                    {% if subpage.header.title == '_homepage' %}
                        <article>
                            {{ subpage.content }}

                            <aside>
                                <a class="button is-white">
                                    <span class="{{ subpage.header.home_icon_type|default('fas') }} fa-{{ subpage.header.home_icon|default('fighter-jet') }}"></span>
                                    {% if subpage.header.home_button %}
                                        {{ subpage.header.home_button }}
                                    {% else %}
                                        En voir plus sur {{ page.header.title }}
                                    {% endif %}
                                </a>
                            </aside>
                        </article>

                    {% endif %}
                {% endfor %}
            {% endif %}
        </section>
    {% endfor %}
{% endblock %}

{% block bottom %}
    {{ super() }}

    <script type="text/javascript">
        'use strict';

        document.body.classList.remove('static-shooting-star');

        window.addEventListener('load', function()
        {
            document.body.classList.remove('static-shooting-star');

            function animate_shooting_star()
            {
                document.body.classList.add('animated-shooting-star');

                setTimeout(function()
                {
                    document.body.classList.remove('animated-shooting-star');
                }, 1500);

                setTimeout(animate_shooting_star, (Math.floor(Math.random() * (60 - 20)) + 20) * 1000);
            }

            setTimeout(animate_shooting_star, (Math.floor(Math.random() * (10 - 2)) + 2) * 1000);
        });


        function reset_focus()
        {
            var scrollTop = document.body.scrollTop;
            var body = document.body;
            var tmp = document.createElement('input');

            tmp.style.opacity = 0;
            body.appendChild(tmp);
            tmp.focus();
            body.removeChild(tmp);

            body.scrollTop = scrollTop;
        }

        function hide_hidden_sections()
        {
            if (window.screen.width < 769) return;

            var initially_hidden_sections = document.querySelectorAll('body > div > section:not(:first-of-type)');
            for (var i = initially_hidden_sections.length - 1; i >= 0; i--)
            {
                initially_hidden_sections[i].style.display = 'none';
            }
        }

        // If the DOM is loaded—removed here so the screen does not blinks.
        hide_hidden_sections();

        window.addEventListener('load', function()
        {
            if (window.screen.width < 769) return;

            document.body.classList.add('has-js');

            hide_hidden_sections();

            var navigation_list_items = document.querySelectorAll('body > div > nav > ul > li');
            var navigation_links = document.querySelectorAll('body > div > nav > ul > li > a');
            var sections = document.querySelectorAll('body > div > section');

            for (var i = navigation_links.length - 1; i >= 0; i--)
            {
                navigation_links[i].addEventListener('click', function(e)
                {
                    e.preventDefault();
                    
                    var target = document.querySelector(e.target.dataset.target);

                    for (var i = sections.length - 1; i >= 0; i--)
                    {
                        sections[i].style.display = 'none';
                    }

                    for (var i = navigation_list_items.length - 1; i >= 0; i--)
                    {
                        navigation_list_items[i].classList.remove('is-active');
                    }

                    target.style.display = 'block';
                    e.target.parentNode.classList.add('is-active');

                    reset_focus();
                });
            }
        });
    </script>
{% endblock %}
