{% extends 'partials/base.html.twig' %}

{% block body_classes %}frontpage{% endblock %}

{% block body %}
    <section class="hero is-fullheight">
        <header class="hero-head page-header">
            <h1>{{ theme_config.header.title ?: config.site.title }}</h1>
            <p>{{ theme_config.header.tagline }}</p>
        </header>
        <div class="hero-body">
            <section>
                <div class="columns articles-display">
                    <div class="column is-half">
                        <article class="presentation content">
                            {{ page.content }}
                        </article>
                    </div>
                    <div class="column is-half">
                        <article class="latest-article">
                            <h2>Dernier article</h2>
                            <h3>
                                <a href="#">Le nombre d'éléments de l'univers est-il limité&nbsp;?</a>
                            </h3>
                            <p class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur beatae,
                                deleniti dolor enim eveniet harum illo labore magni, maxime molestias, natus officiis
                                optio placeat possimus provident quos tenetur totam!
                            </p>
                            <aside>
                                <a href="#" class="button is-white is-outlined"><span class="fas fa-moon"></span>Lire l'article</a>
                            </aside>
                        </article>
                    </div>
                </div>
                <aside class="columns articles-list">
                    <div class="column is-one-quarter">
                        <a href="">
                            Second article
                            <footer>
                                <time>Il y a une semaine</time>
                            </footer>
                        </a>
                    </div>
                    <div class="column is-one-quarter">
                        <a href="">
                            Troisième article
                            <footer>
                                <time>Il y a une semaine</time>
                            </footer>
                        </a>
                    </div>
                    <div class="column is-one-quarter">
                        <a href="">
                            Quatrième article
                            <footer>
                                <time>Il y a une semaine</time>
                            </footer>
                        </a>
                    </div>
                    <div class="column is-one-quarter">
                        <a href="">
                            Tous les articles…
                            <footer>
                                12 articles
                            </footer>
                        </a>
                    </div>
                </aside>
            </section>
        </div>
        <footer class="hero-foot page-footer">
            <nav class="navbar is-transparent">
                <div class="navbar-brand">
                    <div class="navbar-item has-dropdown has-dropdown-up is-hoverable">
                        <a class="navbar-link" href="https://twitter.com/NebuliusGrp">
                            <span class="icon">
                                <span class="fab fa-twitter"></span>
                            </span>
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="https://twitter.com/NebuliusGrp">
                                <span class="icon">
                                    <span class="fab fa-twitter"></span>
                                </span>
                                @NebuliusGrp
                            </a>
                            <a class="navbar-item" href="https://twitter.com/Yoku_Sama">
                                <span class="icon">
                                    <span class="fab fa-twitter"></span>
                                </span>
                                @Yoku_Sama
                            </a>
                            <a class="navbar-item" href="https://twitter.com/AmauryPi">
                                <span class="icon">
                                    <span class="fab fa-twitter"></span>
                                </span>
                                @AmauryPi
                            </a>
                        </div>
                    </div>

                    <div class="navbar-item has-dropdown has-dropdown-up is-hoverable">
                        <a class="navbar-link" href="https://instagram.com/yoku_timo">
                            <span class="icon">
                                <span class="fab fa-instagram"></span>
                            </span>
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="https://instagram.com/yoku_timo">
                                <span class="icon">
                                    <span class="fab fa-instagram"></span>
                                </span>
                                @yoku_timo
                            </a>
                            <a class="navbar-item" href="https://instagram.com/amaurypi">
                                <span class="icon">
                                    <span class="fab fa-instagram"></span>
                                </span>
                                @amaurypi
                            </a>
                        </div>
                    </div>

                    <div class="navbar-item has-dropdown has-dropdown-up is-hoverable">
                        <a class="navbar-link" href="https://youtu.be/Nebulius">
                            <span class="icon">
                                <span class="fab fa-youtube"></span>
                            </span>
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="https://youtu.be/Nebulius">
                                <span class="icon">
                                    <span class="fab fa-youtube"></span>
                                </span>
                                Nebulius
                            </a>
                            <a class="navbar-item" href="https://youtu.be/Yoku_Sama">
                                <span class="icon">
                                    <span class="fab fa-youtube"></span>
                                </span>
                                Yoku_Sama
                            </a>
                        </div>
                    </div>

                    <a class="navbar-item" href="https://github.com/Nebulius">
                        <span class="icon">
                            <span class="fab fa-github"></span>
                        </span>
                    </a>

                    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

                <div class="navbar-end">
                    {% set this_page = page %}
                    {% for page in pages.children.visible %}
                        {% set current_page = (page.active or page.activeChild or (this_page.template == 'homepage' and loop.index == 1)) ? 'is-active' : '' %}
                        <a class="navbar-item {{ current_page }}" href="{{ page.url }}"{% if this_page.template == 'homepage' %} data-target="#{{ page.url|trim('/') }}"{% endif %}>
                                {% if page.header.icon %}<i class="fas fa-{{ page.header.icon }}"></i>{% endif %}
                                {{ page.menu }}
                        </a>
                    {% endfor %}
                    {% for mitem in site.menu %}
                        <a class="navbar-item" href="{{ mitem.url }}">
                            {% if mitem.icon %}<i class="fas fa-{{ mitem.icon }}"></i>{% endif %}
                            {{ mitem.text }}
                        </a>
                    {% endfor %}
                </div>
            </nav>
        </footer>
    </section>
{% endblock %}

{#
{% block content %}
    {% for page in pages.children.visible %}
        <section id="{{ page.url|trim('/') }}">
            <h2>{{ page.header.title }}</h2>
            {% if page.template == 'blog' %}
                {% set articles = page.children.routable.visible.order('date', 'desc') %}
                {% set last_article = articles.current %}
                <div class="columns is-clearfix">
                    <div class="column">
                        <h3>
                            <a href="{{ last_article.url }}">Dernier article</a>
                        </h3>
                        <article>
                            <h4>
                                <a href="{{ last_article.url }}">{{ last_article.header.title }}</a>
                            </h4>
                            <p>
                                {% if last_article.header.abstract %}
                                    {{ last_article.header.abstract }}
                                {% else %}
                                    {{ last_article.content|striptags|safe_truncate(300, true) }}
                                {% endif %}
                            </p>
                            <aside>
                                <a href="{{ last_article.url }}" class="button is-white"><span class="fas fa-moon"></span>Lire la suite…</a>
                            </aside>
                        </article>
                    </div>
                    <div class="column">
                        <h3>
                            <a href="{{ page.url }}">
                                Tous les articles
                                <span class="fas fa-angle-double-right fa-xs"></span>
                            </a>
                        </h3>
                        <article>
                            <ul>
                                {% for article in articles.batch(4)[0] if not article.isFirst %}
                                    <li>
                                        <a href="{{ article.url }}" title="{{ article.header.title }}">
                                            {{ article.header.title }}

                                            {# TODO what about an icon relative to the content type? article, video… #
                                            <div class="button is-white">
                                                <span class="fas fa-moon"></span>
                                            </div>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <p>Il n'y a aucun autre article à lire pour le moment.</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </article>
                    </div>
                </div>
            {% else %}
                {% for subpage in page.children.nonRoutable.nonVisible %}
                    {% if subpage.header.title == '_homepage' %}
                        <article>
                            {{ subpage.content }}

                            <aside>
                                <a class="button is-white" href="{{ page.url }}">
                                    <span class="{{ subpage.header.home_icon_type|default('fas') }} fa-{{ subpage.header.home_icon|default('fighter-jet') }}"></span>
                                    {% if subpage.header.home_button %}
                                        {{ subpage.header.home_button }}
                                    {% else %}
                                        En voir plus sur {{ page.header.title }}
                                    {% endif %}
                                </a>
                            </aside>
                        </article>

                    {% endif %}
                {% endfor %}
            {% endif %}
        </section>
    {% endfor %}
{% endblock %}

{% block bottom %}
    {{ super() }}

    <script type="text/javascript">
        'use strict';

        document.body.classList.remove('static-shooting-star');

        window.addEventListener('load', function()
        {
            document.body.classList.remove('static-shooting-star');

            function animate_shooting_star()
            {
                document.body.classList.add('animated-shooting-star');

                setTimeout(function()
                {
                    document.body.classList.remove('animated-shooting-star');
                }, 1500);

                setTimeout(animate_shooting_star, (Math.floor(Math.random() * (60 - 20)) + 20) * 1000);
            }

            setTimeout(animate_shooting_star, (Math.floor(Math.random() * (10 - 2)) + 2) * 1000);
        });


        function reset_focus()
        {
            var scrollTop = document.body.scrollTop;
            var body = document.body;
            var tmp = document.createElement('input');

            tmp.style.opacity = 0;
            body.appendChild(tmp);
            tmp.focus();
            body.removeChild(tmp);

            body.scrollTop = scrollTop;
        }

        function hide_hidden_sections()
        {
            if (window.screen.width < 769) return;

            var initially_hidden_sections = document.querySelectorAll('body > div > section:not(:first-of-type)');
            for (var i = initially_hidden_sections.length - 1; i >= 0; i--)
            {
                initially_hidden_sections[i].style.display = 'none';
            }
        }

        // If the DOM is loaded—removed here so the screen does not blinks.
        hide_hidden_sections();

        window.addEventListener('load', function()
        {
            if (window.screen.width < 769) return;

            document.body.classList.add('has-js');

            hide_hidden_sections();

            var navigation_list_items = document.querySelectorAll('body > div > nav > ul > li');
            var navigation_links = document.querySelectorAll('body > div > nav > ul > li > a');
            var sections = document.querySelectorAll('body > div > section');

            for (var i = navigation_links.length - 1; i >= 0; i--)
            {
                navigation_links[i].addEventListener('click', function(e)
                {
                    e.preventDefault();
                    
                    var target = document.querySelector(e.target.dataset.target);

                    for (var i = sections.length - 1; i >= 0; i--)
                    {
                        sections[i].style.display = 'none';
                    }

                    for (var i = navigation_list_items.length - 1; i >= 0; i--)
                    {
                        navigation_list_items[i].classList.remove('is-active');
                    }

                    target.style.display = 'block';
                    e.target.parentNode.classList.add('is-active');

                    reset_focus();
                });
            }
        });
    </script>
{% endblock %}
#}
