{% extends 'partials/base/base-page-content.html.twig' %}

{% import 'macros/creative-commons.html.twig' as creative_commons %}
{% import 'macros/tags.html.twig' as tags %}

{% macro navigation_links(page, config, extra_classes='') %}
    <nav class="columns is-mobile navigation-links {{ extra_classes }}">
        {% spaceless %}
            <div class="column">
                {% if page.nextSibling.url is null %}
                <a href="" title="Vous lisez le dernier article" class="is-disabled">
                    {% else %}
                    <a href="{{ page.nextSibling.url }}" title="Article plus récent : {{ page.nextSibling.header.title }}">
                        {% endif %}
                        «</a>
            </div>
            {% if config.plugins.random.enabled %}
                <div class="column">
                    <a href="{{ base_url_relative }}{{ config.plugins.random.route }}" title="Article au hasard">∞</a>
                </div>
            {% endif %}
            <div class="column">
                {% if page.prevSibling.url is null %}
                <a href="" title="Vous lisez le tout premier article" class="is-disabled">
                    {% else %}
                    <a href="{{ page.prevSibling.url }}" title="Article plus ancien : {{ page.prevSibling.header.title }}">
                        {% endif %}
                        »</a>
            </div>
        {% endspaceless %}
    </nav>
{% endmacro %}

{% set authors_list -%}
    Publié le {{ tags.time(page.date, true, true, false, null, 'datePublished') }}
    {%- if header.taxonomy.author %}
        par
        {% for author in header.taxonomy.author -%}
            {%- if not (loop.first and loop.last) %}{% if not loop.last and not loop.first %}, {% elseif not loop.first %} et {% endif %}{% endif -%}
            {%- if config.plugins.taxonomylist.enabled -%}
                <a href="{{ base_url }}{{ config.plugins.taxonomylist.route }}/author{{ config.system.param_sep }}{{ author|e('url') }}">
                    {{- author -}}
                </a>
            {%- else -%}
                {{ author }}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endset %}

{% block under_title %}
        <div class="under-title">
            <ul>
                {%- if config.plugins.readingtime.enabled -%}
                    <li title="Temps de lecture estimé, considérant un rythme de {{ config.plugins.readingtime.words_per_minute }} mots par minute.">
                        {{- page.content|readingtime }} de lecture
                    </li>
                {%- endif -%}

                <li class="authors-under-title">{{ authors_list }}</li>

                {%- if has_comments -%}
                    <li class="comments-under-title">
                        <a href="#comments">{{- comments_count_text -}}</a>
                    </li>
                {%- endif -%}
            </ul>
        </div>
{% endblock %}

{% block above_content %}
    <nav class="article-navigation">
        {{ _self.navigation_links(page, config) }}
    </nav>
    <aside class="article-meta-mobile">
        <p>{{ authors_list }}.</p>
    </aside>
{% endblock %}

{% block below_content %}
    {% if header.zestedesavoir %}
        <aside class="explicit-canonical-link">
            <a href="{{ header.zestedesavoir }}">
                <figure aria-hidden="true">
                    <img src="{{ url('theme://images/zestedesavoir/zestedesavoir-small.svg') }}" alt="Logo de Zeste de Savoir" />
                </figure>
                <p>
                    Cet article est également publié sur Zeste de Savoir
                </p>
            </a>
        </aside>
    {% endif %}
{% endblock %}

{% block below_block_content %}
    {% include 'partials/github-edit-link.html.twig' %}
    
    <aside class="article-meta-bottom">
        <div class="taxonomy-category">
            <div class="tags">
                {% for category in header.taxonomy.category %}
                    <span class="tag is-info is-large">
                        <a href="{{ base_url }}{{ config.plugins.taxonomylist.route }}/category{{ config.system.param_sep }}{{ category|e('url') }}">
                            <span class="icon"><i class="fas fa-book"></i></span>
                            <span>{{ category }}</span>
                        </a>
                    </span>
                {% endfor %}
            </div>
        </div>
        <div class="license">
            {{ creative_commons.logos(header.license|default('by-sa')) }}
        </div>
        <div class="taxonomy-tags">
            <div class="tags is-right">
                {% for tag in header.taxonomy.tag %}
                    <span class="tag is-info">
                        <a href="{{ base_url }}{{ config.plugins.taxonomylist.route }}/tag{{ config.system.param_sep }}{{ tag|e('url') }}">
                            <span class="icon"><i class="fas fa-tag"></i></span>
                            <span>{{ tag }}</span>
                        </a>
                    </span>
                {% endfor %}
            </div>
        </div>
    </aside>
{% endblock %}
