{% extends 'partials/base-page.html.twig' %}

{% block javascripts %}
    {{ super() }}
    {% do assets.addJs('theme://js/spoilers.js', 64) %}
{% endblock %}

{% block content %}
    {% set page_header_image = null %}
    {% if header.header_image.image %}
        {% for medium in page.media.images if medium.filename == header.header_image.image %}
            {% set page_header_image = medium %}
        {% endfor %}
    {% endif %}

    {% set has_comments = config.plugins.comments.enabled and header.comments|default(true) %}
    {% set comments_count = grav.twig.comments|default([])|length %}
    {% set comments_count_text = comments_count == 0 ? 'Aucun commentaire' : (comments_count == 1 ? 'Un commentaire' : comments_count ~ ' commentaires') %}

    <main class="page-main-article">
        <div class="header-size-constrainer">
            <header{% if page_header_image %} style="background-image: linear-gradient(0deg, #7a49b7, transparent 50%, transparent), url('{{ page_header_image.url }}');"{% endif %}>
                <div class="container">
                    <aside class="header-image-source">
                        {% if header.header_image.link %}
                            <a href="{{ header.header_image.link }}">
                        {% endif %}
                            {{ header.header_image.title }}
                            {% if header.header_image.author %}
                                <cite>{{ header.header_image.author }}</cite>
                            {% endif %}
                        {% if header.header_image.link %}
                            </a>
                        {% endif %}
                    </aside>
                    <h1>{{ header.title }}</h1>
                </div>
            </header>
        </div>

        <div class="container">
            <div class="columns">
                <div class="column is-10">
                    <article class="main-article">
                        <div class="content">
                            {{ page.content }}
                        </div>
                    </article>
                    {% if has_comments %}
                        <footer class="comments-section" id="comments">
                            <h2>{{ comments_count_text }}</h2>
                            <div class="comments-section-content">
                                {% include 'partials/comments.html.twig' with {'page': page} %}
                            </div>
                        </footer>
                    {% endif %}
                </div>
                <div class="column is-2">
                    <aside class="main-aside">
                        <div class="columns is-mobile navigation-links">
                            {% spaceless %}
                                <div class="column">
                                    {% if page.nextSibling.url is null %}
                                        <a href="" title="Vous lisez le dernier article" class="is-disabled">
                                    {% else %}
                                        <a href="{{ page.nextSibling.url }}" title="Article plus récent : {{ page.nextSibling.header.title }}">
                                    {% endif %}
                                        «</a>
                                </div>
                                {% if config.plugins.random.enabled %}
                                <div class="column">
                                    <a href="{{ base_url_relative }}/random" title="Article au hasard">∞</a>
                                </div>
                                {% endif %}
                                <div class="column">
                                    {% if page.prevSibling.url is null %}
                                        <a href="" title="Vous lisez le tout premier article" class="is-disabled">
                                    {% else %}
                                        <a href="{{ page.prevSibling.url }}" title="Article plus ancien : {{ page.prevSibling.header.title }}">
                                    {% endif %}
                                        »</a>
                                </div>
                            {% endspaceless %}
                        </div>

                        {% if config.plugins.readingtime.enabled %}
                            <p class="reading-time has-text-centered" title="Temps de lecture estimé, considérant un rythme de {{ config.plugins.readingtime.words_per_minute }} mots par minute.">
                                {{- page.content|readingtime }} de lecture</p>
                        {% endif %}

                        <p class="has-icon publication-date" title="Date de publication">
                            {%- include 'partials/tags/time.html.twig' with {'date': page.date, 'itemprop': 'datePublished', 'absolute': true} -%}
                        </p>

                        {%- if header.author or header.authors -%}
                            <p class="has-icon authors" title="Auteur(s) de l'article">
                                {%- if header.authors -%}
                                    {% set authors = header.authors -%}
                                    {%-  if header.author -%}
                                        {%- set authors = [header.author]|merge(authors) -%}
                                    {%- endif -%}
                                    {%- for author in authors -%}
                                        {%- if not loop.first -%}<br />{%- endif -%}{{ author }}
                                    {%- endfor -%}
                                {%- elseif header.author -%}
                                    {{ header.author }}
                                {%- endif -%}
                            </p>
                        {%- endif -%}

                        {%- if has_comments -%}
                            <p class="has-icon comments{% if comments_count <= 1 %}-single{% endif %}" title="Cliquer pour aller aux commentaires ou en poster un"><a href="#comments">
                                    {{- comments_count_text -}}
                            </a></p>
                        {%- endif -%}

                        {%- if header.taxonomy.tag -%}
                            <p class="has-icon tags-list{% if header.taxonomy.tag|length == 1 %}-single{% endif %}" title="Étiquette{% if header.taxonomy.tag|length > 1 %}s{% endif %} de l'article">
                                {%- for tag in header.taxonomy.tag -%}
                                    <a href="#">{{ tag }}</a><br />
                                {%- endfor -%}
                            </p>
                        {%- endif -%}

                        <p class="license">
                            {% spaceless %}
                                {% set license = header.license %}
                                {% if not license %}
                                    {% set license = 'by-sa' %}
                                {% endif %}

                                {% set url, ico = '', '' %}

                                {% if license == 'by' %}
                                    {% set url, ico = 'by', 'b' %}
                                {% elseif license == 'by-sa' %}
                                    {% set url, ico = 'by-sa', 'ba' %}
                                {% elseif license == 'by-nc' %}
                                    {% set url, ico = 'by-nc', 'bn' %}
                                {% elseif license == 'by-nd' %}
                                    {% set url, ico = 'by-nd', 'bd' %}
                                {% elseif license in ['by-nc-nd', 'by-nd-nc'] %}
                                    {% set url, ico = 'by-nc-nd', 'bnd' %}
                                {% elseif license in ['by-nc-sa', 'by-sa-nc'] %}
                                    {% set url, ico = 'by-nc-sa', 'bna' %}
                                {% elseif license in ['cc0', '0', 'cc-0', 'zero', 'publicdomain', 'public domain', 'pd'] %}
                                    {% set url, ico = 'zero', 'p' %}
                                {% endif %}

                                {% set labels = {
                                    'by': 'Attribution (BY)',
                                    'sa': 'Partage à l\'identique (SA)',
                                    'nc': 'Pas d\'usage commercial (NC)',
                                    'nd': 'Pas de modification (ND)',
                                    'zero': 'Creative Commons Zéro : œuvre placée dans le domaine public'
                                } %}

                                {% if url %}
                                    {% set label = '' %}
                                    {% if url == 'zero' %}
                                        {% set label = labels.zero %}
                                    {% else %}
                                        {% set label = 'Creative Commons' %}
                                        {% for license_part in url|split('-') %}
                                            {% set label = label ~ ' ' ~ labels[license_part] %}
                                            {% if not loop.last %}
                                                {% set label = label ~ ' –' %}
                                            {% endif %}
                                        {% endfor %}
                                        {% set label = label ~ ' 4.0 International' %}
                                    {% endif %}

                                    {% set url = url != 'zero' ? 'https://creativecommons.org/licenses/' ~ url ~ '/4.0/deed.fr' : 'https://creativecommons.org/publicdomain/zero/1.0/' %}

                                    <a href="{{ url }}" title="{{ label }}" class="creative-commons-icons">{% if url != 'zero' %}c{% endif %}{{ ico }}</a>
                                {% else %}
                                    {{ header.license }}
                                {% endif %}
                            {% endspaceless %}
                        </p>
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
