{% extends 'partials/base/base-page-content.html.twig' %}

{% import 'macros/creative-commons.html.twig' as creative_commons %}
{% import 'macros/tags.html.twig' as tags %}

{% macro navigation_links(page, config, extra_classes='') %}
    <div class="columns is-mobile navigation-links {{ extra_classes }}">
        {% spaceless %}
            <div class="column">
                {% if page.nextSibling.url is null %}
                <a href="" title="Vous lisez le dernier article" class="is-disabled">
                    {% else %}
                    <a href="{{ page.nextSibling.url }}" title="Article plus récent : {{ page.nextSibling.header.title }}">
                        {% endif %}
                        «</a>
            </div>
            {% if config.plugins.random.enabled %}
                <div class="column">
                    <a href="{{ base_url_relative }}{{ config.plugins.random.route }}" title="Article au hasard">∞</a>
                </div>
            {% endif %}
            <div class="column">
                {% if page.prevSibling.url is null %}
                <a href="" title="Vous lisez le tout premier article" class="is-disabled">
                    {% else %}
                    <a href="{{ page.prevSibling.url }}" title="Article plus ancien : {{ page.prevSibling.header.title }}">
                        {% endif %}
                        »</a>
            </div>
        {% endspaceless %}
    </div>
{% endmacro %}

{% block under_title %}
    {% if config.plugins.readingtime.enabled %}
        <p class="reading-time-under-title" title="Temps de lecture estimé, considérant un rythme de {{ config.plugins.readingtime.words_per_minute }} mots par minute.">
            {{ page.content|readingtime }} de lecture
        </p>
    {% endif %}
{% endblock %}

{% block above_content %}
    {{ _self.navigation_links(page, config, 'mobile-navigation-links') }}
{% endblock %}

{% block content_aside %}
    <aside class="main-aside">
        {{ _self.navigation_links(page, config) }}

        {% if config.plugins.readingtime.enabled %}
            <p class="reading-time has-text-centered" title="Temps de lecture estimé, considérant un rythme de {{ config.plugins.readingtime.words_per_minute }} mots par minute.">
                {{- page.content|readingtime }} de lecture</p>
        {% endif %}

        <p class="has-icon publication-date" title="Date de publication">
            {{- tags.time(page.date, true, true, false, null, 'datePublished') -}}
        </p>

        {%- if header.taxonomy.author -%}
            {%- include 'partials/taxonomy-list.html.twig' with {
                'title_singular': 'Auteur de l\'article',
                'title_plural': 'Auteurs de l\'article',
                'icon': 'authors',
                'has_icon_single': false,
                'taxonomy': header.taxonomy.author,
                'taxonomy_type': 'author'
            } -%}
        {%- endif -%}

        {%- if has_comments -%}
            <p class="has-icon comments{% if comments_count <= 1 %}-single{% endif %}" title="Cliquer pour aller aux commentaires ou en poster un"><a href="#comments">
                    {{- comments_count_text -}}
                </a></p>
        {%- endif -%}

        {%- if header.taxonomy.category -%}
            {%- include 'partials/taxonomy-list.html.twig' with {
                'title_singular': 'Catégorie de l\'article',
                'title_plural': 'Catégories de l\'article',
                'icon': 'category',
                'has_icon_single': false,
                'taxonomy': header.taxonomy.category,
                'taxonomy_type': 'category'
            } -%}
        {%- endif -%}

        {%- if header.taxonomy.tag -%}
            {%- include 'partials/taxonomy-list.html.twig' with {
                'title_singular': 'Étiquette de l\'article',
                'title_plural': 'Étiquettes de l\'article',
                'icon': 'tags-list',
                'has_icon_single': true,
                'taxonomy': header.taxonomy.tag,
                'taxonomy_type': 'tag'
            } -%}
        {%- endif -%}

        <p class="license">{{ creative_commons.logos(header.license|default('by-sa')) }}</p>
    </aside>
{% endblock %}
