{% extends 'partials/base-page-content.html.twig' %}

{% import 'macros/creative-commons.html.twig' as creative_commons %}
{% import 'macros/tags.html.twig' as tags %}

{% block content_aside %}
    <aside class="main-aside">
        <div class="columns is-mobile navigation-links">
            {% spaceless %}
                <div class="column">
                    {% if page.nextSibling.url is null %}
                    <a href="" title="Vous lisez le dernier article" class="is-disabled">
                    {% else %}
                    <a href="{{ page.nextSibling.url }}" title="Article plus récent : {{ page.nextSibling.header.title }}">
                        {% endif %}
                        «</a>
                </div>
                {% if config.plugins.random.enabled %}
                    <div class="column">
                        <a href="{{ base_url_relative }}/random" title="Article au hasard">∞</a>
                    </div>
                {% endif %}
                <div class="column">
                    {% if page.prevSibling.url is null %}
                    <a href="" title="Vous lisez le tout premier article" class="is-disabled">
                        {% else %}
                        <a href="{{ page.prevSibling.url }}" title="Article plus ancien : {{ page.prevSibling.header.title }}">
                            {% endif %}
                            »</a>
                </div>
            {% endspaceless %}
        </div>

        {% if config.plugins.readingtime.enabled %}
            <p class="reading-time has-text-centered" title="Temps de lecture estimé, considérant un rythme de {{ config.plugins.readingtime.words_per_minute }} mots par minute.">
                {{- page.content|readingtime }} de lecture</p>
        {% endif %}

        <p class="has-icon publication-date" title="Date de publication">
            {{- tags.time(page.date, true, true, false, null, 'datePublished') -}}
        </p>

        {%- if header.author or header.authors -%}
            <p class="has-icon authors" title="Auteur(s) de l'article">
                {%- if header.authors -%}
                    {% set authors = header.authors -%}
                    {%-  if header.author -%}
                        {%- set authors = [header.author]|merge(authors) -%}
                    {%- endif -%}
                    {%- for author in authors -%}
                        {%- if not loop.first -%}<br />{%- endif -%}{{ author }}
                    {%- endfor -%}
                {%- elseif header.author -%}
                    {{ header.author }}
                {%- endif -%}
            </p>
        {%- endif -%}

        {%- if has_comments -%}
            <p class="has-icon comments{% if comments_count <= 1 %}-single{% endif %}" title="Cliquer pour aller aux commentaires ou en poster un"><a href="#comments">
                    {{- comments_count_text -}}
                </a></p>
        {%- endif -%}

        {%- if header.taxonomy.tag -%}
            <p class="has-icon tags-list{% if header.taxonomy.tag|length == 1 %}-single{% endif %}" title="Étiquette{% if header.taxonomy.tag|length > 1 %}s{% endif %} de l'article">
                {%- for tag in header.taxonomy.tag -%}
                    <a href="#">{{ tag }}</a><br />
                {%- endfor -%}
            </p>
        {%- endif -%}

        <p class="license">{{ creative_commons.logos(header.license|default('by-sa')) }}</p>
    </aside>
{% endblock %}
